@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: azure;
}

.card {
  border: none !important;
  border-radius: 0 !important;
}

.photo-md{
  width: 190px;
  height: 240px;
}
.photo-lg{
  width: 230px;
  height: 250px;
}
.loading{
  width: 100px;
}